.track {
    display: block;
}
.track-line {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tic {
    display: inline-block;
    width: 40px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.tic-data {
    height: 20px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-bottom-color: rgb(200,200,200);
}

.barN, .beatN, .ticN{
    color: grey;
    text-align: left;
    border-bottom-color: black;
}

.hiding{
    border-style: none;
    border-width: 0px;
}

.beat{
    border-left-color: red;
    border-left-width: 2px;
}
